{%- assign current_variant = product.selected_or_first_available_variant -%}

<div class="product-block {{ grid_class | default: 'grid__item one-quarter small-down--one-half' }} {% if quickbuy %} js-contains-quickbuy{% endif %}">
  <div class="product-block__image-container global-border-radius hover-images {% if product.images.size > 1 and settings.hover_image_enabled == true %} hover-images--two {% if product.featured_image.aspect_ratio == product.images[1].aspect_ratio %}same-aspect-ratio{% endif %}{% endif %} relative">

    <a class="product-block__image" href="{{ product.url }}" 
      data-sku={{ product.selected_or_first_available_variant.sku }} 
      data-category= {{ product.type }}
      data-quantity= {{ product.available }}
      data-price= {{ product.price }}
      data-image = {{ product | img_url }}
      data-id={{ product.id }}>
      <span class="image-name" style="display:none;">{{ product.title }}</span>
      {%- if product.featured_image != blank -%}
        <div class="image-one">
          {% include 'responsive-image', image: product.featured_image %}
        </div>
        {%- if settings.hover_image_enabled == true -%}
          <div class="image-two">
            {%- if product.images.size > 1 -%}
                <div class="rimage-background fade-in lazyload"
                      data-bgset="{% include 'bgset', image: product.images[1] %}"
                      data-sizes="auto"
                      data-parent-fit="cover">
                  <noscript>
                    <img src="{{ product.images[1] | img_url: '1024x1024' }}" alt="{{ product.images[1].alt | escape }}" class="rimage-background__image">
                  </noscript>
                </div>
            {%- endif -%}
          </div>
        {%- endif -%}

      {%- else -%}

        {{ product.featured_image | img_url: '600x600' | img_tag }}

      {%- endif -%}
    </a>

    {%- if quickbuy -%}
      <a class="product-block__quicklook-btn btn--quicklook btn btn--primary js-quickbuy-button" href="{{ product.url }}" >{{ 'products.quickbuy.quick_buy' | t }}</a>
      {% include 'quick-buy-placeholder' %}
    {%- endif -%}

  </div>

  <div class="product-block__title">
    <a href="{{ product.url }}" class="product-block__title-link">{{ product.title | truncate: 40  }}</a>
  </div>

  <div class="product-price" style="text-align:center;display:flex;">
    {%- if current_variant.compare_at_price > current_variant.price -%}
      <span class="product-price__reduced theme-money">
        {{ current_variant.price | money }}
      </span>
    {%- else -%}
      <span class="product-price__reduced theme-money">{{ current_variant.price | money }}</span>
    {%- endif -%}

    {%- if current_variant.compare_at_price > current_variant.price -%}
      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
      <span class="product-price__compare theme-money">{{ current_variant.compare_at_price | money }}</span>
    {%- endif -%}

    

<!--     {%- if product.available -%}
      {%- if product.compare_at_price_max > product.price -%}
        <span class="product-label product-label--on-sale global-border-radius">{{ 'products.product.on_sale' | t }}</span>
      {%- endif -%}
    {%- else -%}
      <span class="product-label product-label--sold-out global-border-radius">{{ 'products.product.sold_out' | t }}</span>
    {%- endif -%} -->

  </div>
 <!-- Yotpo Star Rating - Category Page --> 
  <div style="text-align: center"> 
<div class="yotpo bottomLine" data-product-id="{{ product.id }}"></div>
  </div>
<!-- End of Yotpo Star Rating - Category Page -->
</div>

