<div class="relative container" id="about-3" style="font-size: 14px;">
    <div class="page-width">
            <div class="grid__item one-whole text-center" style="margin-bottom:5%;">      
                <h2 class="h3" style="margin-bottom: 3%;">{{ section.settings.title }}</h2>
                <div class="intro" style="color:#676767;">{{ section.settings.intro }}</div>
            </div>                
        {% for block in section.blocks %}
            {% case block.settings.width %}
            {% when '16%' %}
                {%- assign block_width = 'one-sixth' -%}
                {%- assign image_size = '400x400' -%}     
            {% when '25%' %}
                {%- assign block_width = 'one-quarter' -%}
                {%- assign image_size = '400x400' -%}
            {% when '33%' %}
                {%- assign block_width = 'one-third' -%}
                {%- assign image_size = '500x500' -%}
            {% when '50%' %}
                {%- assign block_width = 'one-half' -%}
                {%- assign image_size = '800x800' -%}
            {% when '66%' %}
                {%- assign block_width = 'two-thirds' -%}
                {%- assign image_size = '1024x1024' -%}
            {% when '75%' %}
                {%- assign block_width = 'three-quarters' -%}
                {%- assign image_size = '1024x1024' -%}
            {% when '100%' %}
                {%- assign block_width = 'one-whole' -%}
                {%- assign image_size = '2048x2048' -%}
            {% endcase %} 
            <div class="grid__item about-section-margin text-center {{ block_width }} small-down--{{ block.settings.medium_width }}" {{ block.shopify_attributes }}>      
            <div class="image about-about-slick">
                {{ block.settings.image | img_url: image_size | img_tag: image_alt }}
            </div>
            <div class="text" style="font-weight: 500; margin-bottom:5px;">
                {{ block.settings.title_text }}
            </div>    
            <div class="text" style="color:#676767;">
                {{ block.settings.text }}
            </div>            
            </div>
        {% endfor %}
        <div class="clearfix"></div>
        </div>
    </div>
    {% schema %}
        {
        "name": "About",
        "class": "careers-section",
        "settings": [
            {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Company Values / About Us"
            },
            {
            "type": "textarea",
            "id": "intro",
            "label": "Intro"
            }
        ],
        "blocks": [
            {
            "type": "value",
            "name": "Value",
            "settings": [
                {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
                },
                {
                "type": "text",
                "id": "title_text",
                "label": "Title"
                },
                {
                "type": "text",
                "id": "text",
                "label": "Text"
                },
                {
                "type": "select",
                "id": "width",
                "label": "Container width",
                "default": "33%",
                "options": [
                    {
                    "value": "25%",
                    "label": "25%"
                    },
                    {
                    "value": "33%",
                    "label": "33%"
                    },
                    {
                    "value": "50%",
                    "label": "50%"
                    },
                    {
                    "value": "66%",
                    "label": "66%"
                    },
                    {
                    "value": "75%",
                    "label": "75%"
                    },
                    {
                    "value": "100%",
                    "label": "100%"
                    }
                ]
                },
                {
                "type": "select",
                "id": "medium_width",
                "label": "Medium width",
                "default": "one-whole",
                "options": [
                    {
                    "value": "one-quarter",
                    "label": "25%"
                    },
                    {
                    "value": "one-third",
                    "label": "33%"
                    },
                    {
                    "value": "one-half",
                    "label": "50%"
                    },
                    {
                    "value": "two-thirds",
                    "label": "66%"
                    },
                    {
                    "value": "three-quarters",
                    "label": "75%"
                    },
                    {
                    "value": "one-whole",
                    "label": "100%"
                    }
                ]
                },
                {
                "type": "select",
                "id": "small_width",
                "label": "Small width",
                "default": "one-whole",
                "options": [
                    {
                    "value": "one-third",
                    "label": "33%"
                    },
                    {
                    "value": "one-half",
                    "label": "50%"
                    },
                    {
                    "value": "two-thirds",
                    "label": "66%"
                    },
                    {
                    "value": "three-quarters",
                    "label": "75%"
                    },
                    {
                    "value": "one-whole",
                    "label": "100%"
                    }
                ]
                }
            ]
            }
        ],
        "presets": [
            {
            "name": "Values",
            "category": "Careers",
            "blocks": [
                {
                "type": "value"
                },
                {
                "type": "value"
                },
                {
                "type": "value"
                }
            ]
            }
        ]
        }
    {% endschema %}